.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
    padding: 10px;
    flex-wrap: wrap;
}

.boton_pagina {
    background-color: #ffd90f;
    color: #000;
    border: 1px solid #000;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.1s;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
}

.boton_pagina:hover:not(:disabled) {
    background-color: red;
    transform: scale(1.15);
}

.boton_pagina.active {
    background-color: red;
    color: white;
    box-shadow: 2px 2px 0 #000;
}

.boton_pagina:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    box-shadow: none;
}