#charactersPage {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    min-height: 400px;
}

.cargando,
.mensaje_error {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    gap: 15px;
    font-size: 1.2em;
    color: #000;
}

#characters-container {
    padding-top: 20px;
    text-align: center;
}

#characters-container h2 {
    color: #e53935;
    text-shadow: 3px 3px 0 #fdd835;
    font-family: 'Bangers', cursive;
    margin-bottom: 20px;
    font-size: 3em;
}