* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 250px;     
    background: rgba(0, 191, 255, 0.152);
    backdrop-filter: blur(6px);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

#logo {
    height: 65px;
    transition: transform 0.18s ease;
}

#familia {
    height: 180px;
    transition: transform 0.18s ease;
}

#logo:hover,
#familia:hover {
    transform: scale(1.18);
}

body {
    padding-top: 110px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 15px;
    }

    #familia {
        height: 100px;
    }

    #logo {
        height: 60px;
    }
}